body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

#cabecera {
  background-color: #7aa7a4;
  border-radius: 40px;
  background: -webkit-linear-gradient(to right, #98c2d4, #86b5c5, #6a97aa);
  background: linear-gradient(to right,  #98c2d4, #86b5c5, #6a97aa);
}

#cabecera p {
  font-weight: bold;

}


.container1 {
  justify-content: center;
  width: 100%;
  height: 10vh
}


.icono {
  height: 3%;
  width: 3%;

}

header figure {
  float: left;

}

header figure img {
  border-radius: 90px;
  border: solid #000000;
  height: 175px;
  width: 175px;
  position: relative;
}


header hgroup {
  float: right;
  text-align: center;
}

header hgroup h1 {
  color: #000000;
  font: 400 40px oswald, sans-serif;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}





.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: 459aaf;
  color: white;
}




nav {
  list-style-type: none;
  margin: 100;
  padding: 0;
  overflow: hidden;
  background-color: #006b8b;
  border-radius: 12px
}



.list-group-flush {
  border-radius: 0;
}

.list-group-flush>.list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}

#whatsapp img {
  width: 100px;
  height: 23px;
}

#linkedin img {
  width: 30px;
  height: 30px;
}

#drive img {
  width: 30px;
  height: 27px;
}

#gmail img {
  width: 80px;
  height: 30px;
}

h1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background: #D3CCE3;
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  border-radius: 12px
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;

}

header {
  text-align: center;
}



h2 {
  margin-bottom: 10px;
  text-decoration: underline;
  text-align: center;

}

h3 {
  margin: 0;
  font-weight: bolder;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.section {
  margin-bottom: 20px;
}

.row {
  overflow: hidden;
  width: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #ddd;

}

footer {

  text-align: left;
  text-decoration: none;
  background-color: #459aaf;
  font-size: 20px;
  border-radius: 2px padding-left 30px;
  width: auto;
}

.flechafinal img {
  width: 25px;
  height: 25px;
  float: right;

}

.carta {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #333;
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;

}

#qrcv {
  float: right;
}